{% extends "base.html" %}
{% block content %}

<h3 class="center-align heading">Edit Your Recipe</h3>
<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
        <div class="row">
            <!--choose the meal category-->

            <div class="col s12 center-align heading">
                <h4>
                    Meal Category
                </h4>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-folder-open teal-text prefix "></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled>Select Meal Category</option>
                    {% for category in categories %}
                        {% if category.category_name == recipe.category_name %}
                            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                    {% endfor %}

                </select>
                <label for="category_name">Meal Category</label>
            </div>
        </div>
        <!--recipe name & description text-->
        <div class="row">
            <div class="col s12 center-align heading">
                <h4>
                    Recipe Name & Description
                </h4>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt  teal-text prefix "></i>
                <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" type="text" class="validate"
                    value="{{ recipe.recipe_name }}" required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left teal-text prefix"></i>
                <textarea id="recipe_description" name="recipe_description" class="materialize-textarea validate"
                    minlength="5" maxlength="500" required>{{ recipe.recipe_description }}</textarea>
                <label for="recipe_description">Recipe Description</label>
            </div>
        </div>
        <!--choose if recipe is vegan or gluten free-->
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-leaf teal-text prefix"></i>
                    <label for="is_vegan">
                        {% if recipe.is_vegan == "on" %}
                            <input type="checkbox" id="is_vegan" checked>
                        {% else %}
                            <input type="checkbox" id="is_vegan">
                        {% endif %}
                        <span class="lever"></span>
                        Vegan
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-bread-slice teal-text prefix"></i>
                    <label for="is_gluten_free">
                        {% if recipe.is_gluten_free == "on" %}
                            <input type="checkbox" id="is_gluten_free" checked>
                        {% else %}
                            <input type="checkbox" id="is_gluten_free">
                        {% endif %}
                        <span class="lever"></span>
                        Gluten-Free
                    </label>
                </div>
            </div>
        </div>
        <!--listing the ingredients-->
        <div class="row">
            <div class="heading center-align col s12">
                <h4>Ingredients</h4>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-seedling teal-text prefix"></i>
                <textarea id="ingredients[0]" name="ingredients" class="materialize-textarea validate" minlength="2"
                    maxlength="500" required>{{- recipe.ingredients[0] -}}</textarea>
                <label for="ingredients[0]">Ingredient 1</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-seedling teal-text prefix"></i>
                <textarea id="ingredients[1]" name="ingredients" class="materialize-textarea validate" minlength="2"
                    maxlength="500" required>{{- recipe.ingredients[1] -}}</textarea>
                <label for="ingredients[1]">Ingredient 2</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-seedling teal-text prefix"></i>
                <textarea id="ingredients[2]" name="ingredients" class="materialize-textarea validate" minlength="2"
                    maxlength="500" required>{{- recipe.ingredients[2] -}}</textarea>
                <label for="ingredients[2]">Ingredient 3</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-seedling teal-text prefix"></i>
                <textarea id="ingredients[3]" name="ingredients" class="materialize-textarea validate" minlength="2"
                    maxlength="500" required>{{- recipe.ingredients[3] -}}</textarea>
                <label for="ingredients[3]">Ingredient 4</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-seedling teal-text prefix"></i>
                <textarea id="ingredients[4]" name="ingredients" class="materialize-textarea validate" minlength="2"
                    maxlength="500" required>{{- recipe.ingredients[4] -}}</textarea>
                <label for="ingredients[4]">Ingredient 5</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-seedling teal-text prefix"></i>
                <textarea id="ingredients[5]" name="ingredients" class="materialize-textarea validate" minlength="2"
                    maxlength="500" required>{{- recipe.ingredients[5] -}}</textarea>
                <label for="ingredients[5]">Ingredient 6</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-seedling teal-text prefix"></i>
                <textarea id="ingredients[6]" name="ingredients" class="materialize-textarea validate" minlength="2"
                    maxlength="500">{{- recipe.ingredients[6] -}}</textarea>
                <label for="ingredients[6]">Ingredient 7</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-seedling teal-text prefix"></i>
                <textarea id="ingredients[7]" name="ingredients" class="materialize-textarea validate" minlength="2"
                    maxlength="500">{{- recipe.ingredients[7] -}}</textarea>
                <label for="ingredients[7]">Ingredient 8</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-seedling teal-text prefix"></i>
                <textarea id="ingredients[8]" name="ingredients" class="materialize-textarea validate" minlength="2"
                    maxlength="500">{{- recipe.ingredients[8] -}}</textarea>
                <label for="ingredients[8]">Ingredient 9</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-seedling teal-text prefix"></i>
                <textarea id="ingredients[9]" name="ingredients" class="materialize-textarea validate" minlength="2"
                    maxlength="500">{{- recipe.ingredients[9] -}}</textarea>
                <label for="ingredients[9]">Ingredient 10</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-seedling teal-text prefix"></i>
                <textarea id="ingredients[10]" name="ingredients" class="materialize-textarea validate" minlength="2"
                    maxlength="500">{{- recipe.ingredients[10] -}}</textarea>
                <label for="ingredients[10]">Ingredient 11</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-seedling teal-text prefix"></i>
                <textarea id="ingredients[11]" name="ingredients" class="materialize-textarea validate" minlength="2"
                    maxlength="500">{{- recipe.ingredients[11] -}}</textarea>
                <label for="ingredients[11]">Ingredient 12</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-seedling teal-text prefix"></i>
                <textarea id="ingredients[12]" name="ingredients" class="materialize-textarea validate" minlength="2"
                    maxlength="500">{{- recipe.ingredients[12] -}}</textarea>
                <label for="ingredients[12]">Ingredient 13</label>
            </div>
        </div>

        <!--listing the instructions needed-->
        <div class="row">
            <div class="heading center-align col s12">
                <h4>Instructions</h4>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-shoe-prints teal-text prefix"></i>
                <textarea id="instructions[0]" name="instructions" class="materialize-textarea validate" minlength="5"
                    maxlength="500" required>{{ recipe.instructions[0] }}</textarea>
                <label for="instructions[0]">Step 1</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-shoe-prints teal-text prefix"></i>
                <textarea id="instructions[1]" name="instructions" class="materialize-textarea validate" minlength="5"
                    maxlength="500" required>{{ recipe.instructions[1] }}</textarea>
                <label for="instructions[1]">Step 2</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-shoe-prints teal-text prefix"></i>
                <textarea id="instructions[2]" name="instructions" class="materialize-textarea validate" minlength="5"
                    maxlength="500" required>{{ recipe.instructions[2] }}</textarea>
                <label for="instructions[2]">Step 3</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-shoe-prints teal-text prefix"></i>
                <textarea id="instructions[3]" name="instructions" class="materialize-textarea validate" minlength="5"
                    maxlength="500" required>{{ recipe.ingredients[3] }}</textarea>
                <label for="instructions[3]">Step 4</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-shoe-prints teal-text prefix"></i>
                <textarea id="instructions[4]" name="instructions" class="materialize-textarea validate" minlength="5"
                    maxlength="500">{{ recipe.ingredients[4] }}</textarea>
                <label for="instructions[4]">Step 5</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-shoe-prints teal-text prefix"></i>
                <textarea id="instructions[5]" name="instructions" class="materialize-textarea validate" minlength="5"
                    maxlength="500">{{ recipe.ingredients[5] }}</textarea>
                <label for="instructions[5]">Step 6</label>
            </div>
        </div>
        <!--submit the form-->
        <div class="row">
            <div class="center-align col s12">
                <!--cancel the edit-->
                <a class="btn-large waves-effect waves-light center-align red" href="{{ url_for('get_recipes') }}"><i class="fas fa-window-close right"></i>Cancel</a>
                <button class="btn-large waves-effect waves-light center-align" type="submit">Edit Recipe
                    <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>

    </form>
</div>
{% endblock %}