{% extends "base.html" %}
{% block content %}
    <h2>I'm extending the base template</h2>
    {% for recipe in recipes %}
        {{ recipe.category_name }} <br>
        {{ recipe.recipe_name }} <br>
        {{ recipe.recipe_description }} <br>
        {{ recipe.is_vegan }} <br>
        {{ recipe.is_gluten_free }} <br>
        {{ recipe.ingredients[0] }} <br>
        {{ recipe.ingredients[1] }} <br>
        {{ recipe.ingredients[2] }} <br>
        {{ recipe.ingredients[3] }} <br>
        {{ recipe.ingredients[4] }} <br>
        {{ recipe.ingredients[5] }} <br>
        {{ recipe.ingredients[6] }} <br>
        {{ recipe.ingredients[7] }} <br>
        {{ recipe.ingredients[8] }} <br>
        {{ recipe.ingredients[9] }} <br>
        {{ recipe.ingredients[10] }} <br>
        {{ recipe.ingredients[11] }} <br>
        {{ recipe.ingredients[12] }} <br>
        {{ recipe.ingredients[13] }} <br>
        {{ recipe.ingredients[14] }} <br>
        {{ recipe.instructions[0] }} <br>
        {{ recipe.instructions[1] }} <br>
        {{ recipe.instructions[2] }} <br>
        {{ recipe.instructions[3] }} <br>
    {% endfor %}
{% endblock %}